<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta name= viewport content= width=device-width initial-scale=1>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/a7ec7986bf.js"></script>
</head>
<body>
  <div class="row" id="shop-header">
    <div class="col-12 navbar">
      <a id="logo" href="." style="font-size:35px">👟<a>
        <span id="title">The Sneakers Shop Experience</span>
        <% if (isLoggedIn == true) { %>
          <div class="login">
            <form  action="/logout" method="get">
              <button class="btn btn-outline-info btn-sm logout" type="submit" action="/logout" name="button">Déconnexion</button>
            </form>
            </div>
            <% } %>
            </div>
          </div>
        </div>
        <h1 class="cmdConfirm"> Command Confirmation</h1>
        <h3 class='text-center textCmdConfirm'>Thank you for your purchase. See you soon !</h3>
        <footer id="loginFooter">
            <div class="column width-12 center">
             <h4 id="titleFooter1">Thank you for coming and visiting my fictional Sneakers Shop.</h4>
           </div>
           <div>
             <span id="titleFooter">The Sneakers Shop Experience</span>
           </div>
        </footer>
  </body>
</html>
