body {
  font-family: 'futura', sans-serif;
  font-size: 14px;
  margin: 0
}

h1 {
  font-size: 28px;
}

#card-header {
  background-color: #343A40;
  padding: 10px;
  color: #FFFFFF;
}

#card-breadcrumb {
  margin-top: 30px;
  font-size: 12px;
}

#card-libelle {
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 700;
}

.card-product {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #F2F2F2;
  background-color: #fcfcfc;
}

#card-total{
  border-bottom: 1px solid #F2F2F2;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 700;
}

#card-checkout {
  padding-top: 7px;
  margin-bottom: 70px;
}

.bike-picture {
  width: 170px;
}

.card-img-top{
  height: 217px;
  /* width: 348px; */
}

#shop-header {
  background-color: #343A40;
  color: #FFFFFF;
}

#logo-header {
  width: 50px;
}

#shop-background {
  height: 85vh;
  background-image: url('/images/background31.jpg');
  background-size: cover;
  background-position: top 78% center;
  margin-bottom: 30px;
  width: 100vw;
  margin-top: 70px
}

.shop-price {
  font-size: 16px;
  font-weight: 700;
}

.bike-card {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.login{
  position: absolute;
  top: 20px;
  right: 20px
}

.navbar{
  height: 70px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #343A40;
}

span.error{
  text-align: center;
  white-space: nowrap;
  margin: auto;
}

div.errorDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}


span#title{
  position: absolute;
  left:70px;
  top: 16px;
  font-size: 20px;
}

h1{
  font-size: 60px;
  text-align: center;
  margin: 30px;
}

h1.loginTitle{
  margin-top: 100px;
}

.bodyForm{
  display: flex;
  justify-content: center;
  align-items: center;
}

img.seeMoreImg{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
}

div.seeMorePart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

p.seeMoreText{
  text-align: center;
  margin:30px
}

a:hover{
  text-decoration: none;
}

footer#loginFooter{
  background-color: #343A40;
  height:150px;
  margin-top: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

footer{
  background-color: #343A40;
  height:150px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span#titleFooter{
  color:#FFF;
  font-size: 12px;
}

h4#titleFooter1{
  color:#FFF;
  margin-bottom: 30px;
  text-align: center;
}

.cmdConfirm{
  margin-top: 100px;
}

/* button#logoutButton{
  margin-right: 10px;
} */

@media screen and (max-width: 900px) {
  /* footer{
    background-color: #343A40;
    height:150px;
    margin-top: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  span#title{
    font-size: 13px;
  }
  button.logout{
    /* width: 100px; */
    margin-right: -5px !important;
  }
  #logo{
    margin-left: 10px !important;
  }
  .refreshButton{
    margin-left: -25px !important;
  }
  .trashButton{
    margin-left: -25px !important;
  }
  .cmdConfirm{
    font-size: 40px;
  }
  .textCmdConfirm{
    font-size: 30px;
  }
  #titleFooter1{
    font-size: 20px;
  }
}


@media screen and (max-width: 400px) {
  /* footer{
    background-color: #343A40;
    height:150px;
    margin-top: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  span#title{
    font-size: 12px;
    margin-left: -15px;
  }
  #logo{
    margin-left: 0px !important;
  }
  button.logout{
    /* width: 100px; */
    margin-right: -10px !important;
  }
  .refreshButton{
    margin-left: -25px !important;
  }
  .trashButton{
    margin-left: -18px !important;
  }
  .bodyForm{
    margin-bottom: 30px !important;
  }
  .cmdConfirm{
    font-size: 40px;
  }
  .textCmdConfirm{
    font-size: 30px;
  }
  #titleFooter1{
    font-size: 20px;
  }
}
